/* --------------- General ---------------*/
body, h1, h2, h3, h4, h5, div, p {
    font-family: Verdana;
}
.more-about a {
    color: rgba(0, 148, 64, 1);
    text-decoration: none;
    text-transform: uppercase;
    font-size: 13px;
}

a:visited {
    background-color: rgba(127, 127, 127, 1);;
}

/*Navigation Menu*/
.mdl-layout__drawer-button, .mdl-layout__drawer, .close-window-button{
      left: initial;
      right: 0;
  }

  .mdl-layout__drawer{
      transform:translateX(250px);
  }
  .lmu-max-width {
  max-width: 1100px;
  margin: auto;
}

.mdl-layout__header-row{
  padding-left: 0px;
  padding-right: 0px;
}
.mdl-layout__header{
  padding-left: 5px;
  padding-right: 20px;
}
/*Color*/
.color-dark-green {
    background-color: rgba(0, 148, 64, 1);
}
.color-dark-grey {
    background-color: rgba(127, 127, 127, 1);
}
.color-light-grey {
    background-color: rgba(192, 192, 192, 1);
}
.color-white {
    background-color: #fff;
}
/*Home*/
.cell-header h1 {
    font-size: 26px;
    font-weight: 400;
}
.mdl-cell {
    margin-top: 0;
    padding-top: 0;
}

.mdl-layout__content {
    flex:1 0 auto;;
}

.cell-header{
    color:#fff;
    height: 90px;
    text-align: center;
    display:flex;
    align-items: center;
    justify-content: center;
}

.cell-card.mdl-card {
    width: 95%;
    /*height: 350px;*/
    margin: 10px auto;
}
.cell-card.image-card > .mdl-card__title{
    background-image: url('../assets/images/prof01.jpg');
    background-position: bottom right;
    background-repeat: no-repeat;
    background-color: #000;
    background-size: 100%;
    height: 230px;
}

.cell-card h2{
    color: rgba(0, 148, 64, 1);;
    font-size: 22px;
    font-weight: 500;
}
.cell-card h4{
    color: rgba(0, 148, 64, 1);;
    font-size: 14px;
    font-weight: 500;
}

.cell-card.news-card {
    height: auto;
}
.cell-card.news-card p{
    line-height: 15px;
    font-size:12px;
}
.cell-card > p.card-date{
    color: rgba(127, 127, 127, 1);;
    font-size: 40px;
    text-transform: capitalize;
}

.cell-card.mdl-card:first-child{
    margin-top: -10px;
}
.cell-card.mdl-card:last-child{
    margin-bottom: -10px;
}
.see-more {
    text-align: center;
}
.see-more a{
    color: rgba(0, 148, 64, 1);
    text-transform: uppercase;
    text-decoration: none;
    font-size: 13px;
}
/*Slider*/
.image-slider{
    background-color: yellow;
    height:150px;
}
.slider-wrapper{
    min-width: 100vw;
    max-width: 100vw;
}
.slider-wrapper .slide{
    height: 150px;
    max-height: 150px;
    background-color: green;
}

.slider-wrapper img{
    width: 100%;
}
.slider-wrapper .arrow{
    font-size:20px;
    color:white;
    margin: 0 10px;
}
.slider-wrapper .slider-badge{
    padding: 5px;
    margin-bottom: 5px;
}
/*Twitter*/
.twitterbox .twitterbox-container {
    margin: 15px auto;
    padding: 15px;
    border: 1px solid #c6c9ce;
    border-radius: 5px;
    width: 95%;
    height: 280px;
    font-size: 13px;
}
.twitterbox .head {
    height: 30px;
}
.twitterbox .head .image-container {
    float: left;
    width: 20%;
}
.twitterbox .head .image-container img{
    width: 40px;
    height: 40px;
}
.twitterbox .head .title-container {
    float: left;
    width: 60%;
}
.twitterbox .head .title-container .title{
    font-weight: bold;
}
.twitterbox .head .title-container .subtitle{
    font-size:12px;
}
.twitterbox .head .follow-container {
    float: left;
    width: 20%;
}
.twitterbox .head .follow-container i{
    float: right;
    font-size: 25px;
    color: #4099ff
}
.twitterbox .icons{
    text-align: center;
    font-size: 20px;
    color: rgba(127, 127, 127, 1);
}
.twitterbox .icons i{
    margin-right: 75px;
}
.twitterbox .icons i:last-child{
    margin-right: 0px;
}
.twitterbox .content{
    line-height: 17px;
    font-family: serif;
    font-size: 14px;
}
.twitterbox hr {
    margin: 7px 0;
}
.twitterbox p{
    font-size: 10px;
}
/*Back to top button*/
.back-to-top {
    text-align: center;
    padding: 30px 0;
}
/*Footer*/
.footer {
    color: #fff;
}
.footer div{
    padding: 15px;
}
.footer h5{
    font-size: 12px;
    font-weight: bolder;
}
.footer p{
    font-weight: lighter;
    font-size: 11px;
    line-height: 15px;
}
.footer .social-media-icons{
    text-align: center;
    font-size: 35px;
}
.footer .social-media-icons i{
    margin-right: 2.5%;
}
.footer .social-media-icons i:last-child{
    margin-right: 0;
}
.footer-lower {
    text-align: center;
}
.footer-lower a{
    color:#fff;
    font-size: 10px;
    font-weight: 300;
    text-transform: capitalize;
    text-decoration: underline;
    margin-right: 15px;
}

/*-------------------- Past visited --------------------*/
.side-menu {
    height: 100%;
    width: 0;
    /*width: 85vw;*/
    position: fixed;
    z-index: 100;
    top: 0;
    left: 0;
    overflow-x: hidden;
    padding-top: 60px;
    transition: 0.5s;
    -webkit-box-shadow: 1px 0px 5px 1px rgba(0,0,0,0.68);
    -moz-box-shadow: 1px 0px 5px 1px rgba(0,0,0,0.68);
    box-shadow: 1px 0px 5px 1px rgba(0,0,0,0.68);
}
.side-menu .closebtn {
    position: absolute;
    color: rgba(0, 148, 64, 1);
    top: 0;
    right: 15px;
    font-size: 25px;
    margin-left: 50px;
    text-decoration: none;

}
.side-menu h1{
    margin-left: 15px;
    font-size: 22px;
    font-weight: 500;
    color: rgba(0, 148, 64, 1);
}
.side-menu .past-visited-card{
    color: #fff;
    width: 90%;
    height: 150px;
    margin: 0 auto;
    padding: 10px;
    margin-bottom: 15px;
}

.side-menu .past-visited-card .subtitle{
    font-size: 9px;
    text-transform: uppercase;
}
.side-menu .past-visited-card .title{
    font-size: 16px;
    line-height: 17px;
}
.side-menu .pin-status{
}


/*-------------------- Directory --------------------*/


.mdl-layout__drawer-button, .mdl-layout__drawer, .close-window-button{
    left: initial;
    right: 0;
}

.mdl-layout__drawer{
    transform:translateX(250px);
}

/*Color Styles*/
.mdl-layout__header,
.mdl-layout__tab-bar,
.mdl-layout__tab-bar-button {
    background-color: rgba(0, 148, 64, 1);
}
.mdl-checkbox checkbox{
    color: #fff;
    background-color: #fff;
}
.mdl-layout.is-upgraded .mdl-layout__tab.is-active::after {
    background-color: #fff;
}
.mdl-card__title h4{
    font-size: 18px;
    color: rgba(0, 148, 64, 1);
    font-weight: bold;
}
.mdl-card__actins a{
    color: rgba(0, 148, 64, 1);
}
.up-button a{
    color: rgba(0, 148, 64, 1);
}


.lmu-max-width {
max-width: 1100px;
margin: auto;

}
.mdl-card__title-text{
font-size: 80%;

}
.mdl-typography--subhead{
  font-size: 90%;
}

.mdl-checkbox__label
{
  font-size: 90%;
}

.mdl-layout-title
{
  font-size: 150%;
}

.mdl-layout__tab
{
  font-size: 80%;
}

.mdl-button
{
  font-size: 65%;
}

.mdl-navigation__link
{
  font-size: 90%;
}

th{
  text-align: left;
}

.mdl-layout__header-row{
  padding-left: 0px;
  padding-right: 0px;
}

.mdl-layout__header{
  padding-left: 20px;
  padding-right: 20px;
}

.lmu-footer
{
    text-align: center;
    align: center;
}
